/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* General */

body {
  background-color: #383B43;
}

ul {
  list-style-type: none;
}

/* Not Found */

.notfound-title {
  font-size: 8rem;
}

.notfound-link {
  display: block;
  font-size: 4rem;
  margin-top: 4rem;
  text-align: end;
  margin-right: 3rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1C2027;
}

.nav-title {
  font-size: 3rem;
  color: darkgray;
}

.nav-input {
  width: 15%;
}

/* HomePage */

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 10rem;
  gap: 3rem;
}

/* Card */

.card {
  perspective: 1000px;
  flex-basis: calc((100% - 9rem) / 4);
  aspect-ratio: 4 / 6;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
  background: black;
  color: white;
}

.card-back-content {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  box-sizing: border-box;
  text-align: center;
}

.card-background {
  width: 100%;
}

.card-lenguage-flag {
  height: 25px;
  width: 35px;
}

.card-movie-title {
  font-size: 1.8rem;

  margin-bottom: 0.5rem;
}

.card-movie-original-title {
  font-size: 0.8rem;

}

.card-lenguage-score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

.card-lenguage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-description {
  font-size: 1.2rem;
}

.card-button {
  display: inline-block;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  background-color: black;
  text-decoration: underline;
  border: none;
}

/* Card Detail */

.card-detail {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
}

.card-img-detail {
  flex-basis: 25%;
}

.card-text-detail {
  flex-basis: 75%;
  padding: 0 2rem;

}

.card-background-detail {
  border: 2px solid white;
  width: 100%;
}

.card-movie-title-detial {
  font-size: 4rem;
}

.card-movie-original-title-detail {
  font-size: 2rem;
  color: #1C2027;
}

.card-lenguage-score-container-deatl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card-lenguage-detail {
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 1rem;
}

.card-lenguage-flag-detail {
  height: 40px;
  width: 60px;
}

.card-score-detail {
  font-size: 3rem;
  color: darkgoldenrod;
}

.card-description-detail {
  font-size: 2rem;
  margin: 1rem 0;
}

.card-director-detail {
  font-size: 2rem;
}

.card-actors-container-detail {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}






.card-button-container-detail {
  display: flex;
  justify-content: center;
}

.card-button-detail {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}