/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* General */

h1,
h2 {
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #383B43;
  font-family: "Exo 2", sans-serif;
}


ul {
  list-style-type: none;
}

/* Not Found */

.notfound-title {
  font-size: 8rem;
}

.notfound-link {
  display: block;
  font-size: 4rem;
  margin-top: 4rem;
  text-align: end;
  margin-right: 3rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1C2027;
}

.nav-title {
  font-size: 3rem;
  color: darkgray;
  font-family: "Orbitron", sans-serif;
}

.nav-input {
  width: 15%;
}

/* HomePage */

.card-container {
  display: flex;
  padding: 2rem;
  gap: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: darkgray #1C2027;
  height: 450px;
  background-color: #1C2027;
  border-top: 2px solid #383B43;
}

.section-title {
  padding: 0 1rem;
  font-size: 2rem;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 1rem;
  font-family: "Orbitron", sans-serif;
}

/* Card */

.card {
  perspective: 1000px;

  aspect-ratio: 4 / 6;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
  background: black;
  color: white;
}

.card-back-content {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  box-sizing: border-box;
  text-align: center;
}

.card-background {
  width: 100%;
}

.card-lenguage-flag {
  height: 20px;
  width: 30px;
}

.card-movie-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-movie-original-title {
  font-size: 0.8rem;

}

.card-lenguage-score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  font-size: 0.8rem;
}

.card-lenguage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-description {
  font-size: 0.8rem;
}

.card-button {
  display: inline-block;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  background-color: black;
  text-decoration: underline;
  border: none;
}

/* Card Detail */

.card-detail {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
}

.card-img-detail {
  flex-basis: 25%;
}

.card-text-detail {
  flex-basis: 75%;
  padding: 0 2rem;

}

.card-background-detail {
  border: 2px solid white;
  width: 100%;
}

.card-button-container-detail {
  display: flex;
  justify-content: center;
}

.card-button-detail {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}

.card-movie-title-detial {
  font-size: 4rem;
}

.card-movie-original-title-detail {
  font-size: 2rem;
  color: #1C2027;
}

.card-lenguage-score-container-deatl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.card-lenguage-detail {
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 1rem;
}

.card-lenguage-flag-detail {
  height: 40px;
  width: 60px;
}

.card-score-detail {
  font-size: 3rem;
  color: darkgoldenrod;
}

.card-genre-detail {
  margin-top: 1rem;
  font-size: 1.8rem;
}

.card-description-detail {
  font-size: 2rem;
  margin: 1rem 0;
}

.card-director-detail {
  font-size: 2rem;
}

.card-actors-container-detail {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Footer */

.footer {
  height: 100px;
  background-color: #1C2027;
  margin-top: 4rem;
  border-top: 1px solid white;
}