/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* General */

body {
  background-color: #383B43;
}

/* Not Found */

.notfound-title {
  font-size: 8rem;
}

.notfound-link {
  display: block;
  font-size: 4rem;
  margin-top: 4rem;
  text-align: end;
  margin-right: 3rem;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1C2027;
}

.nav-title {
  font-size: 3rem;
  color: darkgray;
}

.nav-input {
  width: 15%;
}

/* HomePage */

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 10rem;
  gap: 3rem;
}

/* Card */

.card {
  position: relative;
  flex-basis: calc((100% - 9rem) / 4);
  height: 460px;
  overflow: hidden;
  cursor: pointer;
}

.card-front {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
}

.card-back {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: black;
  color: white;
  padding: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
}

.card:hover .card-front {
  opacity: 0;
}

.card:hover .card-back {
  opacity: 1;
}

.card-background {
  width: 100%;
}

.card-lenguage-flag {
  height: 25px;
  width: 35px;
}